/* for preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#content {
    display: none;
    /* hidden at start */
    padding: 20px;
}

body {
    margin: 0;
    overflow: hidden;
}


.loader-hidden {
    opacity: 0;
    visibility: hidden;
    /* This safely "hides" the loader from clicks */
}

.content-visible {
    opacity: 1;
}

/* custom navbar color */
.navbar {
    background-color: rgb(255, 205, 213) !important;
    /* !important overrides Bootstrap's default */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
    /* makes text readable on pink */
}

.navbar .dropdown-menu {
    background-color: pink;
}

.navbar .dropdown-item {
    color: white;
}

.navbar .dropdown-item:hover {
    background-color: #ff85c1;
    /* slightly lighter on hover */
}

#logo {
    font-family: "quokka", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}